<div class="index-leagues">
  <div class="d-flex justify-content-around my-3">
    <%= link_to 'Mes ligues', leagues_path(choice: "my_leagues"), class: (params[:choice] == "my_leagues" || params[:choice].nil? ? "btn-league-act" : "btn-league-dis") %>
    <%= link_to 'Toutes les ligues', leagues_path(choice: 'all_leagues'), class: (params[:choice] == "all_leagues" ? "btn-league-act" : "btn-league-dis") %>
  </div>

  <% if params[:choice] == 'my_leagues' || params[:choice].nil? %>
    <%= render "shared/my_leagues" %>
  <% elsif params[:choice] == 'all_leagues' %>
    <%= render "shared/all_leagues" %>
  <% end %>
</div>
