<h1>Je crée ma ligue</h1>

<div class="container ">

  <%= simple_form_for  @league do |f| %>
    <%= f.input :title, label: "Titre", placeholder: "Le nom de ta ligue"%></div>
    <%= f.submit "Créer ma ligue", class: "btn btn-main m-3" %>
  <% end %>

</div>
