.admission-card {
  width: 50%;
  margin: 10px auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 5px;
}

.admission-info {
  width: 50%;
}

.admission-user {
  width: 40%;
}

.admission-validation {
  width: 10%;
}
