<div class="container my-3">
  <% @my_leagues.each do |league| %>
    <%= link_to league.title, league_path(league), class:"btn-join" %>
  <% end %>
  <% @admissions.each do |admission| %>
    <%= link_to admission.league.title, league_path(admission.league), class:"btn-join" %>
  <% end %>


</div>
