
<div class="home banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=image_url("DSC05028.JPG")%>')">
  <div class="banner-top">
    <h1>Bienvenue sur le site des paris de la Route du rhum !</h1>
    <p><%= link_to "Pariez !", bets_path, class: "btn-main" %></p>
    <p><%= link_to "Voir tous les bateaux", boats_path, class: "btn-sec" %></p>
  </div>
</div>
