
<div class="home banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=image_url("DSC05028.JPG")%>')">
  <div class="banner-top">
    <h1>Bienvenue sur le site des paris de la Route du rhum !</h1>
    <%= link_to "Pariez !", bets_path, class: "btn-main" %>
  </div>
</div>
