.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.btn-main {
  background-color: white;
  color: $blue;
  border-radius: 5px;
  padding: 12px 48px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

.btn-sec {
  background-color: $blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 40px;
  border: 2px solid $blue;
  text-decoration: none;
  font-size: 40px;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: $gray ;
  }
}

.btn-category {
  background-color: white;
  color: $blue;
  border-radius: 5px;
  padding: 12px 48px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  height: 80px;
  width: 300px;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

.btn-act {
  background-color: white;
  color: $blue;
  border-radius: 5px;
  padding: 8px 30px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  &:hover {
    color: white;
    background-color: $blue;
  }
}

.btn-dis {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  padding: 8px 30px;
  border: 2px solid white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  &:hover {
    color: white;
    background-color: $blue;
  }
}
