.card-image {
  height: 300px;
  width: 400px;
}

.card-category a {
  text-decoration: none;
  color: white;
}

.card-boat a {
  text-decoration: none;
  color: black;
  padding: 3px;
  font-size: 20px;
}
