
.banner {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 50px);
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

.banner-top {
  text-align: center;
}

.wait-days {
  margin-bottom: 100px;
}
