.timer-card {
  // border: 1px solid white;
  border-radius: 25px;
  margin: 10px auto;
  width: 480px;
  color: white;
  font-size: 45px;
  i {
    font-size: 80px;
    padding-right: 10px;
  }
}

.timer-icone {
  width: 20%;
}

.timer-time {
  width: 80%;
}
